* {
    margin: 0;
    padding: 0;
}

.bg-secondary {
    background: #f4f4f4;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}